<h2>Add New Court</h2>

<%= form_for(@court) do |f| %>
  <div class="field"
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field"
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  <div class="field"
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field"
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field"
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
    <%= f.file_field :court_photo %>
  <div class="field">
    <%= f.submit "Add a court" %><br />
    <%= link_to "Back", courts_path %>
  </div>
<% end %>
