<!DOCTYPE html>
<html>
<head>
  <title>Find A Court</title>
  <!--Import Foundation -->
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel=“stylesheet” href=“https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css“>
  <!-- Foundation Script tags -->
  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/what-input.js"></script>
  <script src="js/vendor/foundation.js"></script>
  <script src="js/app.js"></script>
  <!--Import materialize.css-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <section class="top-bar-section">
      <ul class="left">
        <%- if current_user -%>
        <li className="authentication"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
        <li className="authentication"><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li className="authentication"><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
    <div class="top-bar-right">
     <div class="logo">
       <%= link_to image_tag("/logo/ball-logo.png"), "/" %>
     </div>
    </div>

  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>

  <!--JavaScript at end of body for optimized loading-->
</body>
</html>
